{{ 'scrolly-style.css' | asset_url | stylesheet_tag }}
{{ 'scrolly-script.js' | asset_url | script_tag }}

<div id="smooth-wrapper">
      <div id="smooth-content">
        <section class="gallery-section">
          <div class="gallery-track">
            <div class="gallery-item">01</div>
            <div class="gallery-item">02</div>
            <div class="gallery-item">03</div>
            <div class="gallery-item">04</div>
          </div>
        </section>
    </div>
</div>