<div class="test-wrapper">
  <h2>{{ section.settings.heading_text }}</h2>
</div>

{% schema %}
  {
    "name": "Test Section",
    "settings": [
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading Text",
        "default": "Hello from VS Code!"
      }
    ],
    "presets": [
      {
        "name": "Test Section"
      }
    ]
  }
{% endschema %}